@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$primary-font: 'Lexend Deca', sans-serif;
$secondary-font: 'Space Mono', monospace;
$primary-blue:rgb(42, 131, 255);
$primary-red:#D4403A;
$primary-yellow:rgb(255, 221, 0);
$mid-width:250px;
$big-width:480px;
$lit-width:160px;